.list-text{
    font-family: open-sans;
    text-align: justify;
    text-align-last: start;
    font-size: 13px;
    line-height: 1.925;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 600;
}